In [62]:
def info_std(**name) :
    """

    this function takes two input from user (his name and age)
    parm_1 : take the name from the user
    type_parm_1 : str
    parm_2 : take age from user
    type_parm_2 : int
    return : return name and age of student
    type_return : str , int
    
    """
    print(f"My Name Is {name}")
    print(type(name))

In [63]:
info_std(Key_1 = "omar",key_2 = "ali",Key_3 = "hussin",Key_4 = "mohamed")

My Name Is {'Key_1': 'omar', 'key_2': 'ali', 'Key_3': 'hussin', 'Key_4': 'mohamed'}
<class 'dict'>

In [64]:
def sum_num(x) :
    return lambda : x+10

In [65]:
sum_n = lambda x : x+10
sum_n(10)

20

In [66]:
sum_num

In [67]:
sum_1 = lambda x,y : x+y

In [68]:
sum_1(10,20)

30

In [69]:
def function_1(n) : 
    return lambda a : a*n

In [70]:
fun_1 =  function_1(11)
fun_1(2)

22

In [71]:
x = 0

In [72]:
5/x

ZeroDivisionError: division by zero

In [ ]:
try:
    5/0
except :
    print("Not Accept to devide by zero")

Not Accept to devide by zero

In [ ]:
try:
    x = 10
    y = int(input("enter your value"))
    x/y
except:
    print("Not accept to devided by zero")

Not accept to devided by zero

In [76]:
a = 10
y = 5
try:
    5/0
except NameError :
    print("aaaaaaaaaaaa")

ZeroDivisionError: division by zero

In [220]:
import random
random.random
n = random.random()
def calc_degree(n):
    return n*n
calc_degree(n)

0.007674742523740542

In [230]:
list_1 = ["ahmed","ali","shahinda","omar"]
random.choice(list_1)

'ali'